<div class="dashboard-container">
  <button
  type="button"
  mat-raised-button
  color="warn"
  (click)="logout()"
  class="logout-button"
>
  Logout
</button>
  <h1 class="welcome-text">Welcome back, {{ userName }}</h1>

  <!-- Saved Garages Section -->
  <mat-card class="saved-garages-card">
    <mat-card-content>
      <app-saved-garages [savedGarages]="savedGarages"></app-saved-garages>
    </mat-card-content>
  </mat-card>

  <!-- Multi-Select Dropdown Section -->
  <mat-card class="multi-select-card">
    <mat-card-content>
      <app-multi-select-garages
        (selectionChange)="onGlobalGaragesSelected($event)"
      ></app-multi-select-garages>
    </mat-card-content>
  </mat-card>

  <!-- Add Button Section -->
  <div class="button-container">
    <button
      type="button"
      mat-raised-button
      color="primary"
      [disabled]="selectedGlobalGarages.length === 0"
      (click)="addSelectedGarages()"
    >
      Add Garages
    </button>
  </div>
</div>
